body{
    margin: 10px;
    font-family: 'indivisible', sans-serif;
    font-weight: 400;
}

h1{
    color: #7D98CF;
    font-weight:500;
}

h2{
    font-weight: 500;
}

a:visited, a:link{
    color: #7D98CF;
    text-decoration: none;
}

