body{
    max-width: 1080px;
    padding: 0 1.5rem;
    margin: auto;
    padding: 0 40px; /* Padding on left and right */
    font-family: 'indivisible', sans-serif;
    font-weight: 400;
}

h1{
    color: #7D98CF;
    font-size: x-large;
    font-weight:500;
}

h2{
    font-weight: 500;
}

a:visited, a:link{
    color: #7D98CF;
    text-decoration: none;
}


.class-publications {
    display: flex;
    align-items: center; /* This vertically centers the items in the flex container */
}

.class-publications img {
    margin-right: 20px; /* Adds some space between the image and the text */
}

.class-publications-text {
    /* Additional styles for text content if needed */
}

/* Style for the header */
.header {
    display: flex; /* Enables Flexbox */
    justify-content: space-between; /* Aligns items to the left and right */
    align-items: center; /* Centers items vertically */
    padding: 10px; /* Adds some padding */
}

/* Style for the list items */
.top-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

/* Style for the links */
.top-nav ul li a {
    display: inline; /* Aligns the underline more closely with the text */
    text-align: center;
    padding: 10px 0; /* Vertical padding only */
    text-decoration: none;
    position: relative;
    margin-right: 40px;
}

/* ::after pseudo-element for underline */
.top-nav ul li a::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px; /* Thickness of the underline */
    background: #7D98CF;
    transition: transform 0.3s ease;
    position: absolute;
    bottom: 0.4rem;
    left: 0;
    transform: scaleX(0);
    transform-origin: center;
}

/* Extend underline on hover */
.top-nav ul li a:hover::after {
    transform: scaleX(1);
}
