body{
    max-width: 800px;
    padding: 0 1.5rem;
    margin: auto;
    padding: 0 40px; /* Padding on left and right */
    font-family: 'indivisible', sans-serif;
    font-size: small;
    font-weight: 400;
}

h1{
    color: #4E557A;
    /* color: #7D98CF; */
    font-size: x-large;
    font-weight:500;
}

h2{
    font-weight: 500;
    font-size: medium;
    margin-bottom: 5px; /*Adjust this value as needed*/
}

p{
    margin-top: 5px;
    margin-bottom: 20px;
    line-height: 1.5; /* Adjust this value as needed */
}

a:visited, a:link {
    color: #7D98CF;
    text-decoration: none;
}

.date{
    color: #4E557A;
}

.class-publications {
    display: flex;
    align-items: center; /* This vertically centers the items in the flex container */
}

.class-publications img {
    margin-right: 20px; /* Adds some space between the image and the text */
}

/* Style for the header */
.header {
    display: flex; /* Enables Flexbox */
    flex-wrap: wrap; /* This is the key property */
    justify-content: space-between; /* Aligns items to the left and right */
    align-items: center; /* Centers items vertically */
    padding: 10px; /* Adds some padding */
}

/* Style for the list items */
.top-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

/* Style for the links */
.top-nav ul li a {
    display: inline; /* Aligns the underline more closely with the text */
    text-align: center;
    padding: 10px 0; /* Vertical padding only */
    text-decoration: none;
    position: relative;
    margin-inline: 15px;
}

/* ::after pseudo-element for underline */
.top-nav ul li a::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px; /* Thickness of the underline */
    background: #7D98CF;
    transition: transform 0.3s ease;
    position: absolute;
    bottom: 0.4rem;
    left: 0;
    transform: scaleX(0);
    transform-origin: center;
}

/* Extend underline on hover */
.top-nav ul li a:hover::after {
    transform: scaleX(1);
}

body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: row-reverse; /* Right column comes first in the flow */
    align-items: center; /* Aligns items to the top */
    gap: 20px; /* Space between columns */
}

.left-column {
    flex: 1; /* Both columns take equal width */
}

/* When the container is narrower than 600px */
@media screen and (max-width: 800px) {
    h1{
        text-align: center;
    }
    
    .header, .container {
        flex-direction: column; /* Stack columns vertically */
    }
    .top-nav{
        align-items: center;
        margin-bottom: 15px;
    }
    .right-column, .left-column {
        flex-basis: 100%; /* Each column takes full width */
    }
    .right-column{
        text-align: center;
    }
}

